@media screen and (max-width: 665px){
    /*                   SESSÃO DA LISTA                          */
    #lista{     
        width: auto;
        padding: 0 1rem 5rem 1rem;

    }
    #container h1{
        font-size: 3rem;
        width: 90vw;
    }

    #botoes {
        text-align: center;
    }
    
    .padrao{
        display: block;
        margin: auto;
        font-size: 2rem;
        width: 95vw;
        margin: 0;
        margin-bottom: 1rem;
        
    }
    
    li {
        width: 70vw;
        font-size: 2rem;
        margin: 0;
        margin-left: 4rem;
    }
 
    
    /*                          IMPUT                                   */
#add input{
    text-align: center;
    width: 80vw;
    margin: auto;
    display: block;
    margin-bottom: .4rem;
}



/*             FORMATAÇÃO DAS LISTAS                                 */
#tarefas input {
    float: left;
    margin-left: 2rem;
    margin-top: 0.5rem;
}


/*             BOTOES EDIT LISTAS       */

#edit {
    display: none;
    transform: translateY(-40%);
}
.padrao_edit{
    display: block;
    font-size: 2rem;
    width: 80vw;
}

#div_all {
    padding: 1.2rem;
    width: 80vw ;
}
#all_delete {
    width: 60vw;
    font-size: 1.3rem;
    padding: 1.2rem;
}
}